<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio del Proyecto</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
        
        body, html {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #555; /* Cambiado el color del texto principal */
            text-align: center;
            padding-bottom: 100px;
        }

        .header-bar {
            background-color: #491D57;
            color: #ffffff;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: flex-start; /* Alinea los elementos a la izquierda */
            align-items: center; /* Alinea verticalmente los elementos */
        }

        .header-bar a {
            color: #ffffff;
            text-decoration: none;
            margin-left: 15px; /* Espacio entre los elementos */
        }

        .title-container {
            flex-grow: 1; /* Hace que el título ocupe el espacio restante */
        }

        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
        }

        .button-container a {
            padding: 10px 20px; /* Aumentado el espacio alrededor del texto */
            font-size: 14px; /* Aumentado el tamaño del texto */
            background-color: #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease, background-color 0.3s ease;
            text-decoration: none;
            color: #555;
        }

        .button-container a:hover {
            transform: translateY(2px);
            background-color: #491D57;
            color: white;
        }
    </style>
</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">Volver</span>
        </a>
        <div class="title-container">
            <b>Inicio del Proyecto</b>
        </div>
    </div>

    <div class="button-container">
        <a href="/admin/integrantes/listar">Integrantes</a>
        <a href="/admin/colores/listar">Colores</a>
        <a href="/admin/media/listar">Media</a>
        <a href="/admin/tiposmedia/listar">TiposMedia</a>
    </div>

    {{> footer }}
</body>
</html>