 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Integrante</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .content {
            display: flex;
            justify-content: center; /* Centra horizontalmente el contenido */
            align-items: center; /* Centra verticalmente el contenido */
            height: 100vh; /* Ajusta la altura al 100% de la ventana */
        }

        .container {
            width: 400px; /* Ancho del contenedor */
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
        }

        input[type="text"],
        input[type="number"],
        input[type="checkbox"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: #491D57;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #3c1446;
        }
    </style>

        <a href="/admin/integrantes/listar" class="volver-button">
            <span class="material-icons">arrow_back</span>
            Volver
        </a>
    </head>
    <body>
        <div class="container">
            <h1>Nuevo integrante</h1>
            <form action="/admin/integrantes/create" method="post">

                <div class="switch-container">
                    <label class="switch">
                        <input type="checkbox" id="activo" name="activo" {{#if integrante.activo}}checked{{/if}}>
                        <span class="slider round"></span>
                    </label>
                    <span class="switch-label" style="margin-top:5px">Activo</span>
                </div>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{integrante.nombre}}">

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" value="{{integrante.apellido}}">

                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" value="{{integrante.matricula}}">
        
                <label for="orden"></label>
                <input type="number" id="orden" name="orden" value="{{orden}}" hidden>

                <button type="submit" class="button-40">Crear Nuevo</button>
            </form>
        </div>
    </body>
    
    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}
    </html>

