<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 800px; /* Ajusta el ancho máximo del contenedor */
            margin: 0 auto; /* Centra el contenedor horizontalmente */
            padding: 20px;
        }

        .header-bar {
            background-color: #491D57;
            color: #ffffff;
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
            align-items: center; /* Alinea verticalmente los elementos */
        }

        .header-bar a {
            color: #ffffff;
            text-decoration: none;
        }

        .title-container {
            flex-grow: 1; /* Hace que el título ocupe el espacio restante */
            text-align: center; /* Centra el título */
        }

        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #f40a0a;
        }

        th {
            background-color: #b71d1d;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .button-container {
            text-align: center; /* Centra los botones */
            margin-top: 20px;
        }

        .volver-button, .button-40 {
            display: inline-block; /* Hace que los botones se muestren en línea */
            padding: 10px 20px;
            text-decoration: none;
            color: #333;
            background-color: #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease, background-color 0.3s ease;
            margin: 5px; /* Espacio entre los botones */
        }

        .volver-button:hover, .button-40:hover {
            background-color: #491D57;
            color: rgb(105, 46, 125);
        }

    </style>

</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span><b>Home</b>
        </a>
        <div class="title-container"><b>Tabla Integrantes</b></div>
        <button type="button" class="button-40" onclick="location.href='/admin/integrantes/crear'">Crear Nuevo</button>
    </div>

    <div class="container">
        <h2>Integrantes</h2>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Matricula</th>
                    {{!-- <th>Activo</th> --}}
                    <th>Orden</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each integrantes}}
                <tr>
                    <td><a href="/admin/integrantes/{{this.id}}/editar">{{this.id}}</a></td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.apellido}}</td>
                    <td>{{this.matricula}}</td>
                    {{!-- <td>{{this.activo}}</td> --}}
                    <td>{{this.orden}}</td>
                    <td>
                        <form id="delete-form-{{this.id}}" action="/admin/integrantes/{{this.id}}/delete" method="POST" style="display: inline;">
                            <button type="button" onclick="confirmDelete({{this.id}})" class="button-40">Eliminar</button> <!-- Botón de eliminación -->
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
            <a href="/admin" class="volver-button">
        <span class="material-icons">arrow_back</span>
        Volver
    </a>
    </div>

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    
    {{/if}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById(`delete-form-${id}`).submit();
                }
            });
        }
    </script>
</body>
</html>
