<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Media</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        /* Estilos adicionales para el formulario */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 800px; /* Ajusta el ancho máximo del contenedor */
            margin: 0 auto; /* Centra el contenedor horizontalmente */
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #491D57; /* Lila */
        }

        form {
            width: 80%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #491D57; /* Lila */
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .switch-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: #491D57; /* Lila */
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #491D57; /* Lila */
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .button-40 {
            width: 100%;
            padding: 10px;
            background-color: #491D57; /* Lila */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .button-40:hover {
            background-color: #6f7bb6; /* Lila más claro */
        }
    </style>
        <a href="/admin/media/listar" class="volver-button">
        <span class="material-icons">arrow_back</span>
        Volver
    </a>
</head>
<body>
<div class="container">
    <h1>Crear Nuevo Media</h1>
    <form action="/admin/media/create" method="post" enctype="multipart/form-data">

        <div class="switch-container">
            <label class="switch">
                <input type="checkbox" id="activo" name="activo" {{#if integrante.activo}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
            <span class="switch-label" style="margin-top:5px">Activo</span>
        </div>

        <label for="integranteId">Integrante:</label>
        <select id="integranteId" name="integranteId"  onchange="updateTiposMedia(this.value);">
            {{#each integrantes}}
            <option value="{{this.id}}" data-tipos="{{json this.tiposFaltantes}}">{{this.nombre}}</option>
            {{/each}}
        </select>

        <label for="tiposmediaId">Tipo de Media:</label>
        <select id="tiposmediaId" name="tiposmediaId" onchange="checkMediaType(this.value);">
            <!-- Opciones de tipos de media se actualizarán mediante JavaScript -->
        </select>

        <div id="urlLabel" style="display: none;">
            <label for="url" style="margin-bottom:10px">URL:</label>
        </div>
        <div id="urlInput" style="display: none;">
            <input type="text" style="width: 94%" id="url" name="url">
        </div>

        <div id="filenameInput" style="display: none;">
            <label for="nombrearchivo" style="margin-bottom:10px">Nombre del Archivo:</label>
            <div class="input-group">
                <input type="text" id="nombrearchivo" name="nombrearchivo" style="width: 94%">
                <input type="file" id="file" name="file" style="display: none;">
                <span class="material-symbols-outlined button-icon" onclick="document.getElementById('file').click();">open_in_new</span>
            </div>
        </div>

        <label for="orden"></label>
        <input type="number" id="orden" style="width: 94%" name="orden" hidden>

        <button type="submit" class="button-40">Crear Nuevo</button>
    </form>
</div>

{{#if flashMessages.error}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Error',
        text: '{{flashMessages.error}}',
        icon: 'error',
        confirmButtonText: 'OK'
    });
</script>
{{/if}}

<script>
function checkMediaType(value) {
    var urlLabel = document.getElementById('urlLabel');
    var urlInput = document.getElementById('urlInput');
    var filenameInput = document.getElementById('filenameInput');
    
    // Esconde todos los campos primero
    urlInput.style.display = 'none';
    urlLabel.style.display = 'none';
    filenameInput.style.display = 'none';

    // Muestra los campos según la selección
    if (value === 'youtube') {
        urlInput.style.display = 'block';
        urlLabel.style.display = 'block';
    } else {
        filenameInput.style.display = 'block';
    }
}

function updateTiposMedia(integranteId) {
    var integranteSelect = document.getElementById('integranteId');
    var tiposMediaSelect = document.getElementById('tiposmediaId');
    var selectedOption = integranteSelect.options[integranteSelect.selectedIndex];
    var tiposFaltantes = JSON.parse(selectedOption.getAttribute('data-tipos'));

    // Clear current options
    tiposMediaSelect.innerHTML = '';

    // Add new options
    tiposFaltantes.forEach(function(tipo) {
        var option = document.createElement('option');
        option.value = tipo;
        option.textContent = tipo;
        tiposMediaSelect.appendChild(option);
    });

    // Trigger media type check on load
    if (tiposMediaSelect.value) {
        checkMediaType(tiposMediaSelect.value);
    }
}

document.getElementById('file').addEventListener('change', function() {
    var fileName = this.files[0].name;
    document.getElementById('nombrearchivo').value = fileName;
});

window.onload = function() {
    var integranteSelect = document.getElementById('integranteId');
    if (integranteSelect.value) {
        updateTiposMedia(integranteSelect.value);
    }
};
</script>
</body>
</html>