<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Media</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        /* Esconde scrollbars */
        html {
            overflow-y: scroll; /* Permite el desplazamiento vertical. */
            scrollbar-width: none; /* Para Firefox */
        }

        html::-webkit-scrollbar {
            display: none; /* Para Safari y Chrome */
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }


        .header-bar {
            background-color: #491D57;
            color: white;
            padding: 10px 20px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .home-icon, .placeholder {
            flex:1; /* Asegura que el ícono y el placeholder tengan la misma flexibilidad */
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
            font-size: 15px; /* Establece el tamaño del texto */
            gap: 5px;
        }

        .title-container {
            text-align: center;
            flex-grow: 7;
        }

        .container {
            padding-top: 60px; /* Suficiente espacio para el encabezado */
            padding-bottom: 20px;
            width: 90%;
            margin: auto;
            max-height: 100%;
            overflow: auto; /* Permite desplazamiento dentro del contenedor */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
            text-align: left;
        }

        thead th {
            background-color: #88558f;
        }

        tbody tr:hover {
            background-color: rgba(255,255,255,0.3);
        }

        .volver-button {
            background-color: #55608f;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .volver-button:hover {
            background-color: #6f7bb6;
        }

        .material-icons {
            margin-right: 8px; /* Espacio entre el ícono y el texto */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Media</h1>
        <form action="/admin/media/{{media.id}}/update" method="post" enctype="multipart/form-data">
            <input type="hidden" name="integranteId" value="{{media.integranteId}}">
            <input type="hidden" name="tiposmediaId" value="{{media.tiposmediaId}}">
            <input type="hidden" name="id" value="{{media.id}}">

            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="activo" name="activo" {{#if media.activo}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
                <span class="switch-label" style="margin-top:5px">Activo</span>
            </div>

            <label for="integranteId">Integrante:</label>
            <input type="text" id="integranteId" style="width: 94%" name="integranteId" value="{{media.integranteId}}" disabled>

            <label for="tiposmediaId">Tipo de Media:</label>
            <input type="text" id="tiposmediaId" style="width: 94%" name="tiposmediaId" value="{{media.tiposmediaId}}" disabled>

            {{#if media.url}}
            <div id="urlLabel">
                <label for="url" style="margin-bottom:10px">URL:</label>
            </div>
            <div id="urlInput">
                <input type="text" style="width: 94%" id="url" name="url" value="{{media.url}}">
            </div>
            {{/if}}

            {{#if media.nombrearchivo}}
            <div id="filenameInput">
                <label for="nombrearchivo" style="margin-bottom:10px">Nombre del Archivo:</label>
                <div class="input-group">
                    <input type="text" id="nombrearchivo" name="nombrearchivo" style="width: 94%" value="{{media.nombrearchivo}}">
                    <input type="file" id="file" name="file" style="display: none;">
                    <span class="material-symbols-outlined button-icon" onclick="document.getElementById('file').click();">open_in_new</span>
                </div>
            </div>
            {{/if}}

            <label for="orden">Orden:</label>
            <input type="number" id="orden" style="width: 94%" name="orden" value="{{media.orden}}" disabled>

            <button type="submit" class="button-40">Actualizar</button>
        </form>
    </div>

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    <script>
    document.getElementById('file').addEventListener('change', function() {
        var fileName = this.files[0].name;
        document.getElementById('nombrearchivo').value = fileName;
    });
    </script>
</body>
</html>

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}