<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear TipoMedia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="checkbox"] {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #55608f;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }

        .button-40:hover {
            background-color: #6f7bb6;
            color: #222;
        }
        .volver-button {
            background-color: #55608f;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .volver-button:hover {
            background-color: #6f7bb6;
        }

        .material-icons {
            margin-right: 8px; /* Espacio entre el ícono y el texto */
        }
    </style>
        <a href="/admin/tiposmedia/listar" class="volver-button">
        <span class="material-icons">arrow_back</span>
        Volver
    </a>
</head>
<body>
    <div class="container">
        <h1>Crear Nuevo TipoMedia</h1>
            <section>
        <h1>
            {{mensaje}}
        </h1>
    </section>
        <form action="/admin/tiposmedia/create" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{nombre}}">

            <label for="activo">Activo:</label>
            <input type="checkbox" id="activo" name="activo" {{#if activo}}checked{{/if}} value="1">

            <label for="orden"></label>
            <input type="number" id="orden" name="orden" value="{{orden}}"hidden>

            <button type="submit" class="button-40">Crear Nuevo</button>
        </form>
    </div>
</body>

{{#if flashMessages.error}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Error',
        text: '{{flashMessages.error}}',
        icon: 'error',
        confirmButtonText: 'OK'
    });
</script>
{{/if}}


</html>
