<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar TipoMedia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="checkbox"] {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }

        input[readonly] {
            background-color: #e9ecef;
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #55608f;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }

        .button-40:hover {
            background-color: #6f7bb6;
            color: #222;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar TipoMedia</h1>
        <form action="/admin/tiposmedia/{{tiposmedia.id}}/update" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{tiposmedia.id}}">

            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="{{tiposmedia.id}}" disabled>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{tiposmedia.nombre}}" required>

            <label for="activo">Activo:</label>
            <input type="checkbox" id="activo" name="activo" {{#if tiposmedia.activo}}checked{{/if}} value="1">

            <label for="orden">Orden:</label>
            <input type="number" id="orden" name="orden" value="{{tiposmedia.orden}}" disabled>

            <button type="submit" class="button-40">Actualizar</button>
        </form>
    </div>
</body>

{{#if flashMessages.error}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Error',
        text: '{{flashMessages.error}}',
        icon: 'error',
        confirmButtonText: 'OK'
    });
</script>
{{/if}}

{{#if flashMessages.success}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Éxito',
        text: '{{flashMessages.success}}',
        icon: 'success',
        confirmButtonText: 'OK'
    });
</script>
{{/if}}

</html>
